body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: #fff;
}

body {
    
    display: flex;
    height: 100%;
    margin: 0;
    background-image: url("WhatsApp\ Image\ 2024-12-09\ at\ 15.29.04_9774bfd7\ 3.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.image{
    height: 720px;
    width: 60px;
    float: left;
    margin-left: 15px;
}
.image2{
    height: 720px;
    width: 60px;
    float: right;
    margin-right: 30px;
}
    
.container {
    
    width: 100%;
    /* max-width: 1200px; */
    padding: 20px;
    background: rgba(0, 0, 0, 0.9); /* Slight transparency */
    border: 1px solid #444;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.8);
}

/* Header */
header h1 {
    font-size: 4rem;
    font-weight: bold;
    color: yellow; /* Yellow title */
    text-transform: uppercase;
    margin-bottom: 10px;
    /* padding-left: 70px; */
    font-family: 'batman';
}

 h2{
    color: yellow;
    font-size: 3rem;
    padding-left: 70px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition: all;
 }
 h2:hover{
    font-size: 3.5rem;
    
 } 

 .header p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    line-height: 1.6;
}

.button {
    background: transparent;
    border: 2px solid white;
    color: white;
    padding: 10px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 5px;
    transition: all 0.3s ease;
    margin-top: 20px;
}


.button:hover {
    background: yellow;
    color: #000;
}

/* Sponsors Section */
.sponsors {
    margin-top: 30px;
}

.sponsors h2 {
    font-size: 2rem;
}

.para{
    height: 35px;
    width: 800px;
    text-align: justify;
    font-size: x-large;
    margin-left: 25px;
    /* margin-right: 20px; */
}

.vl{
    border-left: 3px solid;
    height: 750px;
    background-color: white;
    width: 1px;
    float: left;
    margin-left: 50px;
    margin-right: 60px;
}

.vll{
    border-left: 3px solid;
    height: 750px;
    background-color: white;
    width: 1px;
    float: right;
    margin-right:30px ;
}
.hl{
    border-top:3px solid;
    height: 1px;
    background-color: white;
    width: 250px;
     float: right;}
    
/* .hll{
    border-bottom: 3px solid;
    height: 1px;
    background-color: white;
    width: 250px;
    float: left;
    padding-bottom: 10px;
}
 */
 @font-face {
    font-family: 'batman';
    src: url('batman.ttf');
 }
 @media screen and (max-width:600px) {
    h1{
        text-align: center;
        
    }
    .para{
        font-size: medium;
    }
    .vll{
        margin-left: 40px;
    }
    .button{
        margin-top: 60px;
    }
    h2{
        font-size: 2rem ;
        text-align: center;
    }
    h2:hover{
        font-size: 2rem;
    }
    

 }
    